.slidecontent h1 span span {
    color: #e40513;
}
.subline {
    border-bottom: 1px dashed #e40513;
}
.team-mem span {
    border-top: 1px dashed #e40513;
}
.team-social li.icon-team a {
    color: #e40513;
}
#action span {
    border-top: 1px dashed #e40513;
}
#sep h6 {
    color: #e40513;
}
#sep2 h6 {
    color: #e40513;
}
.facts-wrap-num {
    color: #e40513;
}
#sync2 .item {
    border: 1px dashed #e40513;
}
.blog-post {
    border-top: 3px solid #e40513;
}
.blog-post a p {
    color: #e40513;
}
.con-info .con-icon {
    color: #e40513;
}
.sb-search-input::-webkit-input-placeholder {
    color: #e40513;
}

.sb-search-input:-moz-placeholder {
    color: #e40513;
}

.sb-search-input::-moz-placeholder {
    color: #e40513;
}

.sb-search-input:-ms-input-placeholder {
    color: #e40513;
}
.sb-icon-search {
    color: #e40513;
}
.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
    background: #e40513;
}
.paragraf-left {
    border-left: 3px solid #e40513;
}
.portfolio-icon {
    color: #e40513;
}
